body {
  margin: 0;
  background: linear-gradient( rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.6) ), url(https://cdn-ami-drupal.heartyhosting.com/sites/muscleandfitness.com/files/styles/full_node_image_1090x614/public/media/woman-jumprope-outdoors-1109.jpg?itok=zdQT0kio&timestamp=1492016193) aqua;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: rgb(52, 119, 219);
}

header {
  height: 120px;
  margin-top: 15px;
}

a {
  color: rgb(42, 42, 255);
  height: 0;
}

form {
  text-align: center;
}

label {
  margin: 0 2px;
}
input {
  margin-right: 10px;
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  padding: 7px;
  font-size: 14px;
  
}

#date {
  padding: 7px;
}

.meal-buttons {
  text-align: center;
  margin: 20px auto;
}


ul {
  padding: 0;
  list-style: none;
}

li {
  margin-top: 10px;
  margin-bottom: 10px;
}

.save-day {
  margin: 10px auto;
  background-color: rgb(126, 174, 245);
  transition: .3s;
}

.save-day:hover {
  background-color: rgb(61, 140, 255);
  color: white;
  cursor: pointer;
}

button {
  margin: 0 10px;
  padding: 5px;
  border: 2px solid #577ba5;
  border-radius: 4px;
  background-color: #ffffff;
  color: rgb(52, 119, 219);
  transition: .3s;
}

button:hover {
  cursor: pointer;
  color: rgb(0, 81, 202);
  background-color: #c2c0c0;
}

/*Responsive design layout*/
* {
  box-sizing: border-box;
}

.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-3, .col-4, .col-6, .col-12 {
  float: left;

  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

/* Mobile defaults */
.col-3, .col-4, .col-6, .col-12 {
  width: 100%;
}


/* Non-mobile, grid */
@media only screen and (min-width: 697px) {
  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-6 {
    width: 50%;
  }

  .col-12 {
    width: 100%;
  }

  h1, a {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 65px;
  }

  a {
    float: right;
  }

  .logger .col-12 {
    margin-bottom: 30px;
  }

  section .row {
    padding: 0;
  }
}

@media only screen and (max-width: 696px) {
  header .col-12 {
    text-align: center;
  }

  label, input {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    
  }
  input {
    margin: 0 auto;
  }

  label {
    text-align: center;
  }
}