body {
  margin: 0;
  background: linear-gradient( rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.6) ), url(https://cdn-ami-drupal.heartyhosting.com/sites/muscleandfitness.com/files/styles/full_node_image_1090x614/public/media/woman-jumprope-outdoors-1109.jpg?itok=zdQT0kio&timestamp=1492016193) aqua;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: rgb(52, 119, 219);
}

header {
  margin-bottom: 30px;
}

header .col-12 {
  margin-top: 10px;
}

a {
  line-height: 80px;
  color: rgb(42, 42, 255);
}

.buttons {
  margin-bottom: 25px;
  text-align: center;
}

.day {
  text-align: center;
}

button {
  padding: 5px;
  border: 2px solid #577ba5;
  border-radius: 4px;
  background-color: #ffffff;
  color: rgb(52, 119, 219);
  transition: .3s;
}

button:hover {
  cursor: pointer;
  color: rgb(0, 81, 202);
  background-color: #c2c0c0;
}

.edit-section {
  text-align: center;
}

fieldset {
  border-style: none;
  text-align: center;
  margin: 20px 0 0;
  font-size: 24px;
  font-weight: bold;
}

.inputs-2 {
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 20px 0;
  text-align: center;
}

li label {
  display: block;
}

input {
  margin-right: 10px;
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  padding: 7px;
  font-size: 14px; 
}

.save-button {
  text-align: center;
}

.save-edit {
  margin: 10px auto;
  background-color: rgb(126, 174, 245);
  transition: .3s;
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  padding: 7px;
  font-size: 14px;
}

.save-edit:hover {
  background-color: rgb(61, 140, 255);
  color: white;
  cursor: pointer;
}

.meal-buttons {
  text-align: center;
}


/*Responsive design layout*/
* {
  box-sizing: border-box;
}

.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-3, .col-4, .col-6, .col-12 {
  float: left;

  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

/* Mobile defaults */
.col-3, .col-4, .col-6, .col-12 {
  width: 100%;
}


/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-6 {
    width: 50%;
  }

  .col-12 {
    width: 100%;
  }

  a {
    float: right;
  }

  h1 {
    display: inline-block;
  }
}

@media only screen and (max-width: 639px) {
  header {
    text-align: center;
  }
  form input, form label {
    display: block;
    text-align: center;
  }

  form input {
    margin: 0 auto;
  }


}